In [60]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Loading dataset

In [61]:
data= pd.read_csv("/content/vgsales.csv")
data = pd.read_csv("/content/vgsales.csv", index_col = "Name")
data.head(5)

                          Rank Platform  ...  Other_Sales Global_Sales
Name                                     ...
Wii Sports                   1      Wii  ...         8.46        82.74
Super Mario Bros.            2      NES  ...         0.77        40.24
Mario Kart Wii               3      Wii  ...         3.31        35.82
Wii Sports Resort            4      Wii  ...         2.96        33.00
Pokemon Red/Pokemon Blue     5       GB  ...         1.00        31.37

[5 rows x 10 columns]

In [62]:
data.tail(5)

                                                   Rank  ... Global_Sales
Name                                                     ...
Woody Woodpecker in Crazy Castle 5                16596  ...         0.01
Men in Black II: Alien Escape                     16597  ...         0.01
SCORE International Baja 1000: The Official Game  16598  ...         0.01
Know How 2                                        16599  ...         0.01
Spirits & Spells                                  16600  ...         0.01

[5 rows x 10 columns]

In [63]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16598 entries, Wii Sports to Spirits & Spells
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Platform      16598 non-null  object
 2   Year          16327 non-null  float64
 3   Genre         16598 non-null  object
 4   Publisher     16540 non-null  object
 5   NA_Sales      16598 non-null  float64
 6   EU_Sales      16598 non-null  float64
 7   JP_Sales      16598 non-null  float64
 8   Other_Sales   16598 non-null  float64
 9   Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 1.4+ MB

selecting one game

In [64]:
data["Publisher"].head(10)

Name
Wii Sports                   Nintendo
Super Mario Bros.            Nintendo
Mario Kart Wii               Nintendo
Wii Sports Resort            Nintendo
Pokemon Red/Pokemon Blue     Nintendo
Tetris                       Nintendo
New Super Mario Bros.        Nintendo
Wii Play                     Nintendo
New Super Mario Bros. Wii    Nintendo
Duck Hunt                    Nintendo
Name: Publisher, dtype: object

In [70]:
games_by_genre=data[data["Genre"] == "Action"]
data[data["Genre"] == "Action"]

                                                     Rank  ... Global_Sales
Name                                                       ...
Grand Theft Auto V                                     17  ...        21.40
Grand Theft Auto: San Andreas                          18  ...        20.81
Grand Theft Auto V                                     24  ...        16.38
Grand Theft Auto: Vice City                            25  ...        16.15
Grand Theft Auto III                                   39  ...        13.10
...                                                   ...  ...          ...
Original Frisbee Disc Sports: Ultimate & Golf       16567  ...         0.01
Fujiko F. Fujio Characters: Great Assembly! Sli...  16570  ...         0.01
Planet Monsters                                     16585  ...         0.01
Carmageddon 64                                      16586  ...         0.01
Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shirub...  16592  ...         0.01

[3316 rows x 10 columns]

In [84]:
genres = data.groupby("Genre")
genres["Global_Sales"].sum()

Genre
Action          1751.18
Adventure        239.04
Fighting         448.91
Misc             809.96
Platform         831.37
Puzzle           244.95
Racing           732.04
Role-Playing     927.37
Shooter         1037.37
Simulation       392.20
Sports          1330.93
Strategy         175.12
Name: Global_Sales, dtype: float64